{% extends 'kingadmin/index.html' %}
{% load kingadmin_tags %}

{% block right-content-container %}
    <ol class="breadcrumb">
      <li><a href="/kingadmin/">Home</a></li>
      <li><a href="/kingadmin/{{ app_name }}/">{{ app_name }}</a></li>
      <li class="active">{{ form_obj.instance }}</li>
    </ol>
    <h4 class="page-header">修改{{ form_obj.instance }}</h4>
    {% include 'kingadmin/table_obj_change_component.html' %}
{#    <form class="form-horizontal" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form_obj.errors }}#}
{#        {% for field in form_obj %}#}
{#            <div class="form-group">#}
{#                <label class="col-sm-2 control-label">{{ field.label }}</label>#}
{#                <div class="col-sm-10">#}
{#                  {{ field }}#}
{#                  {{ field.errors.0 }}#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#        <div class="form-group">#}
{#            <div class="col-sm-offest-11 col-sm-1 pull-right">#}
{#                <button type="submit" class="btn btn-info">Save</button>#}
{#            </div>#}
{#         </div>#}
{#    </form>#}
{% endblock %}