{% extends 'kingadmin/index.html' %}
{% load kingadmin_tags %}

{% block right-content-container %}
    <script>
        function SelectAllObjs(ele) {
            if($(ele).prop('checked')){
                $('input[row-select]').prop('checked',true);
            } else {
                $('input[row-select]').prop('checked',false);
            }
        }
        function ActionCheck(ele) {
            var select_action = $("select[name='action']").val();
            var selected_objs = $("input[row-select]").filter(":checked");
            if(!select_action){
                alert("no action selected!");
                return false;
            }
            if(selected_objs.length == 0){
                alert("no object selected");
                return false;
            } else {
                var selected_ids = [];
                $.each(selected_objs,function () {
                    selected_ids.push($(this).val());
                });
                var input_ele = "<input type='hidden' name='selected_ids' value=" + JSON.stringify(selected_ids) + ">";
                //alert(input_ele);
                $(ele).append(input_ele);
            }
        }
    </script>
    <ol class="breadcrumb">
      <li><a href="/kingadmin/">Home</a></li>
      <li><a href="/kingadmin/{{ app_name }}/">{{ app_name }}</a></li>
      <li class="active">{% get_model_name admin_class %}</li>
    </ol>
    <div class="container" style="margin-bottom: 15px;">
        <form action="" class="form-inline">
            <div class="form-group col-md-2" style="margin-right: 3px;"><input type="search" name="_q"
                                                                               class="form-control"></div>
            <input type="submit" value="查询" class="btn btn-info">
        </form>
    </div>
    {% if admin_class.list_filter %}
        <div class="container">
            <form class="form-horizontal">
                    {% for filter_column in admin_class.list_filter %}
                        <div class="col-md-2">
                            {% build_filter_ele filter_column admin_class %}
                        </div>
                    {% endfor %}

                <input type="hidden" name="_o" value="{% get_current_sort_index sorted_column %}"></input>
                <input type="submit" value="过滤" class="btn btn-info">
            </form>
        </div>
    {% endif %}
    <div class="container" style="margin-top: 10px;">
        <form method="post" class="form-horizontal" onsubmit="return ActionCheck(this)" id="action_func">
                {% csrf_token %}
                <div class="col-md-2">
                    <select class="form-control" name="action">
                        <option></option>
                        {% for action in admin_class.actions %}
                            <option value="{{ action }}">{{ action }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1">
                    <input type="submit" value="执行" class="btn btn-primary">
                </div>
        </form>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                {% if admin_class.list_display %}
                    <tr>
                        <th><input type="checkbox" onclick="SelectAllObjs(this)"></th>
                        {% for column in admin_class.list_display %}
                            <th><a href="?_o={% get_sorted_column column sorted_column forloop.counter0 %}
                   {% render_filter_args admin_class %}">
                                {{ column }}{% render_sorted_arrow column sorted_column %}</a></th>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        {% get_model_name admin_class %}
                    </tr>
                {% endif %}

            </thead>
            <tbody>
                {% for obj in querysets %}
                    <tr><td><input row-select="true" type="checkbox" value="{{ obj.id }}"></td>{% build_table_row obj admin_class %}</tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="pagination">
        {% render_paginator querysets admin_class sorted_column %}
    </div>
{% endblock %}
