{% extends 'base_bak.html' %}
{% load staticfiles %}
{% block extra_css %}
    <style>
        .block_left{
            padding-left: 10px;
            height: 140px;
            width: 60px;
            float: left;
            line-height: 140px;
            {#border: 1px green solid;#}
        }
        .block_right{
            float: right;
            margin-top: 30px;
            margin-right: 120px;
            color: white;
        }
    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AutoCMDB</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right nav-pills" role="tablist">
            <li><a href="#" class="active" role="presentation">任务<span class="badge">42</span></a></li>
            <li><a href="#" role="presentation">通知<span class="badge">2</span></a></li>
            <li><a href="#" role="presentation">消息<span class="badge">4</span></a></li>
            <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'images/user2-160x160.jpg' %}" class="img-circle" alt="User Image" style="width: 25px;height: 25px;">
              <span class="hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{% static 'images/user2-160x160.jpg' %}" class="img-circle" alt="User Image" style="width: 30px;height: 35px;">
                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'server_list' %}" class="thumbnail" style="height: 140px;background-color: #337AB7;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">资源</p>
                        <p style="margin-top: 5px;">CMDB</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" style="height: 140px;background-color: #57889C;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-asterisk" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">配置</p>
                        <p style="margin-top: 5px;">CONFIG</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" style="height: 140px;background-color: #D1B993;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-cloud" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">私有云</p>
                        <p style="margin-top: 5px;">OpenStack</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" style="height: 140px;background-color: #26C281;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-eye-open" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">监控</p>
                        <p style="margin-top: 5px;">MONITOR</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="thumbnail" style="height: 140px;background-color: #00ACED;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">堡垒机</p>
                        <p style="margin-top: 5px;">BASTION</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" style="height: 140px;background-color: #F2763F;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-tasks" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">任务</p>
                        <p style="margin-top: 5px;">TASK</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" style="height: 140px;background-color: #96B46E;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-tasks" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">DNS</p>
                        <p style="margin-top: 5px;">DYNAMIC</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" style="height: 140px;background-color: #96C746;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-grain" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">资源池</p>
                        <p style="margin-top: 5px;">POOL</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="thumbnail" style="height: 140px;background-color: #6F5499;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-retweet" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">发布</p>
                        <p style="margin-top: 5px;">PUB</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" style="height: 140px;background-color: #EEEEEE;text-decoration: none;">
                    <div class="block_left">
                        <p class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size: 50px;background-color: white
">
                        </p>
                    </div>
                    <div class="block_right">
                        <p style="font-size: 20px;">添加</p>
                        <p style="margin-top: 5px;">ADD</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}