{% extends 'base.html' %}
{% load taskstags %}
{% block title %}
    新建任务
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.input-group.date').datepicker({
                format: 'yyyy-mm-dd',
                autoclose:true,
                minView: 0,
                language : 'zh-CN',
                minuteStep:1
            })
        });
    </script>
{% endblock %}
{% block content %}
    <div id="content-container">
        <div id="page-title">
{#        <h1 class="page-header text-overflow">新建任务</h1>#}
        </div>
        <div id="page-content">
        <div class="row">
            <div class="col-lg-12">
{#                <form method="post" class="form-horizontal">#}
{#                    {{ form }}#}
{#                </form>#}
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">新建任务</h3>
                    </div>


                    <!--Input Size-->
                    <!--===================================================-->
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="panel-body">
                            {% for field in form %}
                                {% ifnotequal field.name 'start_time' %}
                                    {% ifnotequal field.name 'end_time' %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="demo-is-inputsmall"><b>{{ field.name }}</b></label>
                                            <div class="col-sm-6">
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="demo-is-inputsmall"><b>{{ field.name }}</b></label>
                                            <div class="col-sm-6 input-group date">
                                                {{ field }}
                                                <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                            </div>
                                        </div>
                                    {% endifnotequal %}
                                {% else %}
                                     <div class="form-group">
                                        <label class="col-sm-3 control-label" for="demo-is-inputsmall"><b>{{ field.name }}</b></label>
                                        <div class="col-sm-6 input-group date">
                                            {{ field }}
                                            <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                        </div>
                                    </div>
                                {% endifnotequal %}
{#                                <div id="demo-dp-component">#}
{#                                    <div class="input-group date">#}
{#                                        <input type="text" class="form-control">#}
{#                                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>#}
{#                                    </div>#}
    {#                                <small class="text-muted">Auto close on select</small>#}
{#                                </div>#}
                            {% endfor %}

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-7 col-sm-offset-5">
                                    <button class="btn btn-mint" type="submit">提交</button>
                                    <button class="btn btn-warning" type="reset">重置</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--===================================================-->
                    <!--End Input Size-->

                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}